[submodule "external/AtlusFileSystemLibrary"]
	path = external/AtlusFileSystemLibrary
	url = https://github.com/darkitxu84/AtlusFileSystemLibrary
[submodule "external/PreappPartnersLib"]
	path = external/PreappPartnersLib
	url = https://github.com/darkitxu84/PreappPartnersLib
[submodule "external/SonicAudioLib"]
	path = external/SonicAudioLib
	url = https://github.com/darkitxu84/SonicAudioLib
[submodule "external/Atlus-Script-Tools"]
	path = external/Atlus-Script-Tools
	url = https://github.com/tge-was-taken/Atlus-Script-Tools

